<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/DGDGboy" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/gavefaim" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/in/jerometoulouse/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      ©️ Site développé avec <i class="fas fa-heart"></i> par Jérôme Toulouse ! (v.1.0.2)
    </div>
</div>
