<div class="about" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1516824237444-09453e0027ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover">
  <div class="container">
    <h1>She's the <strong>fork</strong> , he's the <strong>knife</strong> !</h1>
    <div class="lignes">
    </div>
    <div class="grid">

      <p>Bonjour, je m’appelle Emilie et lui c'est Jérôme, nous avons 32 ans chacun et une appétence commune pour les <em>bonnes adresses
        culinaires Bordelaises</em> (ainsi qu’un nom de famille commun, depuis peu !). <br>
        Depuis maintenant 3 ans nous nous invitons, chacun notre tour, chaque mois, dans un « <em>resto surprise</em> ».
        Cela nous vaut bien quelques heures de recherche (Instagram, The Fork, Tripadvisor,
        entre autres !) pour trouver la prochaine adresse qui déboite
        et une « date night » où se régaler, à deux ! <br>
        <br>
        En plus d'aimer manger à sa faim, voir gavé, Jérôme, est designer. Les formes et les couleurs d'un dressage ne le laissent pas indifférent.
        Il est aussi devenu <em>développeur web</em> pendant le confinement.
        De ce fait, il lie ses deux talents pour nous construire ce site et <em>partager nos découvertes</em>.
        </p>

      <div class="pic">
        <%= cl_image_tag("cu71gw24mvpalybr8beq11dj7nq6") %>
      </div>
      <div class="pic">
        <%= cl_image_tag("s0rajfkgbc37rym8897s4bb4jd24") %>
      </div>
        <p>
        Emilie, c'est une professionnelle du <em>vin</em> et une <em>épicurienne</em> depuis toujours.
        Cela fait maintenant des années qu’elle déniche des <em>adresses "pépites"</em> dans la région
        et les partagent allégrement avec se amis, connaissances et collègues.
        Ce projet est donc né entre nous de manière très évidente et continuera à évoluer selon vos retours.
        Nous avons confectionné une grille d'évaluation pour nous aider à noter chaque adresse
        de la manière la plus « juste » possible à nos yeux, en tenant en compte des critères
        de service, <em>rapport qualité-prix</em>, carte des vins, cadre, propreté, originalité, accessibilité
        et le choix de vaisselle et verrerie. Nous notons chacun le restaurant de notre côté
        et faisons une moyenne des deux notes. Nous accompagnons cette note de nos <em>commentaires</em>
        pour vous faire un retour <em>le plus complet possible</em>.
        En espérant que cela vous plaise et puisse peut-être vous aider à choisir votre
        prochain restaurant à deux ou entres amis…
        N’hésitez pas à nous faire part des vos retours et/ou questions.
        </p>

    </div>
    <h2>Merci pour votre <strong>visite</strong> et bonne lecture !</h2>
    <a class="btn btn-flat" <%= link_to "Visiter", restaurants_path %></a>
  </div>
</div>

