<div class="contact" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/3815830/pexels-photo-3815830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>Merci, nous te répondrons au plus vite</h1>
    <div class="lignes">
    </div>
    <h3>Très bonne journée</h3>

    </div>
  </div>
</div>
