// Import your components CSS files here.
@import "about";
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "banner2";
@import "button";
@import "footer";
@import "card-post";
@import "cards";

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
strong {
  font-weight:normal;
}

em {
  font-weight:bold;
  font-style: normal;
}

.intro{
  text-align: center;
  margin-bottom: 25px;
  margin-top: -20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.intro h1{
  color: white;
  font-family: 'helvetica';
  font-weight: nor;
}

.intro p{
  color: white;
}

.top3{
  background-position: right;
  background: fixed;
  padding-bottom: 1px;
  padding-top: 45px;
  margin-bottom: 65px;
  background-size: cover;
}

.hidden {
  display: none;
}
