
.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background  ease;
  color: white;
}
.navbar-lewagon-white {
  background: rgba(30, 30, 30, 0.19);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 84px;
}

.navbar-lewagon .navbar-brand img:hover {
  opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  opacity:0.5;
}

