.bannershow {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 65vh;
}

.slider img {
  object-fit: cover;
  height: 350px;
}


.postTitle h2 {
    color: #619bbd;
    border-radius: 4px;
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 35px;
}

.postTitle p{
  font-size: 12px;
}

.body-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.body-container .presentation {
  width: 400px;
}

.body-container img {
  object-fit: cover;
  height: 350px;
}

.slider {
  width: 400px;
  height: 350px;
}

.presentationglobale{

}

.presentation p {
  color: grey;
  border-radius: 4px;
  font-size: 19px;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: justify;
  width: 600px;
}

.bouton a{
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.bouton a:hover{
  text-decoration: none;
  opacity: 1;
}


.review {
  color: grey;
  border-radius: 4px;
  font-size: 19px;
  margin-bottom: 10px;
  margin-top: 55px;
  text-align: center;

}

.review p {
  color: #619bbd;
  font-size: 14px;
}

.list-group-item p {
  font-size: 12px;
  color: grey;
}

.list-group-item h8 {
  color: #619bbd;
}

.list-group-item a {
    color: #167FFB;
    text-decoration: none;
    background-color: transparent;
    font-size: 12px;
}

.list-group-item a:hover {
   opacity: 0.7;
}

.list-group-item img{
  width:75px;
  height: 75px;
  border-radius: 50%;
}

.daterating {
  display: flex;
  flex-direction: row;
  margin-bottom: -36px;
  justify-content: space-between;

    h4 {
      margin-bottom: 25px;
      font-family: 'Andrea Bilarosa'
    }
}

.gridShowA {
  margin-top: 35px;
  position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-between;
  justify-items: end;
}

.gridShowB {
  margin-top: 35px;
  position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-between;
  justify-items: start;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .presentation p {
    color: grey;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: justify;
    width: auto;
  }

  .gridShowA {
    grid-template-columns: 1fr;
    justify-items: center;
  }

   .gridShowB {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 15px;
  }
    .slider {
      width: auto;
      height: auto;
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 676px) {

    .presentation p {
    color: grey;
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: justify;
    width: auto;
  }

  .gridShowA {
    grid-template-columns: 1fr;
    justify-items: center;
  }

   .gridShowB {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 15px;
  }
    .slider {
      width: auto;
      height: auto;
    }

}

// Medium devices (tablets, 500px and up)
@media (min-width: 500px) {
  .gridShowA {
    grid-template-columns: 1fr;
    justify-items: center;
  }

   .gridShowB {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 15px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .gridShowA {
    grid-template-columns: 1fr;
    justify-items: center;
  }

   .gridShowB {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 25px;
  }

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .gridShowA {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

   .gridShowB {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 45px;
  }

    .slider {
      width: 400px;
      height: 350px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .gridShowA {
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }

  .gridShowB {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    margin-bottom: 45px;
  }

  .slider {
      width: 400px;
      height: 350px;
    }

  .presentation p {
  color: grey;
  border-radius: 4px;
  font-size: 19px;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: justify;
  width: 600px;
}

}

